@model IEnumerable<H2W_lib.tblCategory>
@{
   
    var query = Model.OrderBy(x => x.CategoryGroup).ThenBy(x => x.FeaturedSequence);
}
@Html.Partial("_AdminMenu")

<h2>Categories</h2>

<table class="adminTable">
    <tr>
        <th>
            ID
        </th>
        <th>
            Page
        </th>
        <th>
            Group
        </th>
        <th>
            Slug
        </th>
        <th>
            Sequence
        </th>
       
        <th></th>
    </tr>

@foreach (var item in query)
{

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryPageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeaturedSequence)
        </td>
        <td>
            @Html.ActionLink("Edit", "CategoriesEdit", new { id=item.CategoryId })
        </td>
    </tr>

}

</table>
