@model  H2W_mvc.ViewModels.CategoryVM
<table class="specTable">
    <thead>
        <tr style="background-color:#eee;">
            <th>Model #</th>
            <th>Thumbnail</th>
            <th>Continuous Torque Range</th>
            <th># of Poles</th>
            <th>Torque @@ 100% Duty</th>
            <th>Torque @@ 10% Duty</th>
            <th>Housed with Bearings</th>
            <th>Outside Diameter</th>
            <th>Housing Thickness</th>
            <th>PDF</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.products) {
        <tr style="border-bottom:1px solid #ccc;">
            <td>
                @Html.ActionLink(item.ProductNo, "show", "product", new { category = item.tblCategory.CategoryPageUrl, productid = item.ProductNo }, null)
            </td>
            <td>
                <a href="../product/@item.tblCategory.CategoryPageUrl/@item.ProductNo">
                    @{
                        if (item.ThumbnailPath == null)
                        {
                            <img src="/Images/Thumbnails/noimage.gif" />
                        }
                        else
                        {
                            if (item.ThumbnailPath.Length != 0)
                            {
                                <img src="@item.ThumbnailPath" />
                            }
                            else
                            {
                                <img src="/Images/Thumbnails/noimage.gif" />
                            }
                        }
                    }
                </a>
            </td>
            <td>
                @item.tblProductSpecs.Where(c => c.CatSpecId == 134).FirstOrDefault().SpecValue1 @item.tblProductSpecs.Where(c => c.CatSpecId == 134).FirstOrDefault().tblCategorySpecificSpec.Units1
            </td>
            <td>
                @item.tblProductSpecs.Where(c => c.CatSpecId == 138).FirstOrDefault().SpecValue1
            </td>
            <td>
                @item.tblProductSpecs.Where(c => c.CatSpecId == 136).FirstOrDefault().SpecValue1 @item.tblProductSpecs.Where(c => c.CatSpecId == 136).FirstOrDefault().tblCategorySpecificSpec.Units1
                <div class="specLine"></div>
                @item.tblProductSpecs.Where(c => c.CatSpecId == 136).FirstOrDefault().SpecValue2 @item.tblProductSpecs.Where(c => c.CatSpecId == 136).FirstOrDefault().tblCategorySpecificSpec.Units2
            </td>
            <td>
                @item.tblProductSpecs.Where(c => c.CatSpecId == 135).FirstOrDefault().SpecValue1 @item.tblProductSpecs.Where(c => c.CatSpecId == 135).FirstOrDefault().tblCategorySpecificSpec.Units1
                <div class="specLine"></div>
                @item.tblProductSpecs.Where(c => c.CatSpecId == 135).FirstOrDefault().SpecValue2 @item.tblProductSpecs.Where(c => c.CatSpecId == 135).FirstOrDefault().tblCategorySpecificSpec.Units2
            </td>
           
            <td>
                @item.tblProductSpecs.Where(c => c.CatSpecId == 141).FirstOrDefault().SpecValue1
            </td>
           <td>
                @item.tblProductSpecs.Where(c => c.CatSpecId == 139).FirstOrDefault().SpecValue1 @item.tblProductSpecs.Where(c => c.CatSpecId == 139).FirstOrDefault().tblCategorySpecificSpec.Units1
                <div class="specLine"></div>
                @item.tblProductSpecs.Where(c => c.CatSpecId == 139).FirstOrDefault().SpecValue2 @item.tblProductSpecs.Where(c => c.CatSpecId == 139).FirstOrDefault().tblCategorySpecificSpec.Units2
            </td>

            <td>
                @item.tblProductSpecs.Where(c => c.CatSpecId == 156).FirstOrDefault().SpecValue1 @item.tblProductSpecs.Where(c => c.CatSpecId == 156).FirstOrDefault().tblCategorySpecificSpec.Units1
                <div class="specLine"></div>
                @item.tblProductSpecs.Where(c => c.CatSpecId == 156).FirstOrDefault().SpecValue2 @item.tblProductSpecs.Where(c => c.CatSpecId == 156).FirstOrDefault().tblCategorySpecificSpec.Units2
            </td>

             <td valign="center">
                @{
                    if (item.PDFDoc != null){
                        if (item.PDFDoc.Length > 0){
                            <a href="@item.PDFDoc" target="_blank">
                                <img src="~/Images/pdficon.png" />
                            </a>
                        }
                    }
                }
            </td>
        </tr>

    }
    </tbody>
    <tfoot>
        <tr style="background-color:#eee;">
            <th>Model #</th>
            <th>Thumbnail</th>
            <th>Continuous Torque Range</th>
            <th># of Poles</th>
            <th>Torque @@ 100% Duty</th>
            <th>Torque @@ 10% Duty</th>
            <th>Housed with Bearings</th>
            <th>Outside Diameter</th>
            <th>Housing Thickness</th>
            <th>PDF</th>
        </tr>
    </tfoot>
</table>
<link href="/Content/dataTables.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Scripts/jquery.datatables.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.specTable').dataTable({
        "bPaginate": false,
        "aoColumns": [
                null,
                null,
                null,
                null,
                { "sType": "numeric-comma" },
                { "sType": "numeric-comma" },
                null,
                { "sType": "numeric-comma" },
                { "sType": "numeric-comma" },
                null
        ]
    });
});
</script>