@model H2W_lib.tblCategory_LinkedCategories

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tblCategory_LinkedCategories</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId, "tblCategory")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.categoryPage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.categoryPage)
            @Html.ValidationMessageFor(model => model.categoryPage)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
